body {
    font-family: 'Segoe Regular', Segoe, 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 64px;
}

ul, a, p, h1, h2, h3, h4, h5, h6, blockquote {
    margin: 0;
}

img {
    display: block;
}